.div{
    border: 1px solid black;
    width: 12rem;
    padding: 8px;
    margin: 8px;
    background-color: lightgray;
}

.div2{
    text-align: right;
    padding-right: 5%;
}

.btn{
    background-color: rgb(198, 239, 255);
}

.btn2{
    background-color: papayawhip;
}